*, *::after, *::before{
    box-sizing: border-box;
    font-family: gothas rounded, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}
.clock
{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    background-image: url('photo.jpg');
}
.clock .number
{
   color: white;
    --rotation: 0;
position: absolute;
width: 100%;
height: 100%;
text-align: center;
transform: rotate(var(--rotation));
font-size: 2rem;
font-weight: 200;
font-weight: bolder;
}
.clock .number1{
   --rotation: 3deg;
   transform-origin: -100% 400%;

}
.clock .number2{
    --rotation: 3deg;
    transform-origin: -300% 700%;
 }
 .clock .number3{
    --rotation: 6deg;
    transform-origin: -330% 450%;

 }
 .clock .number4{
    --rotation: 10deg;
    transform-origin: -300% 270%;
 }
 .clock .number5{
    --rotation: 15deg;
    transform-origin: -250% 150%;

 }
 .clock .number6{
    --rotation: 180deg;
 }
 .clock .number7{
   --rotation: 10deg;
   transform-origin: -450% -80%;
 }
 .clock .number8{
    --rotation: -10deg;
    transform-origin: 420% 270%;
 }
 .clock .number9{
    --rotation: 5deg;
    transform-origin: -470% -480%;
 }
 .clock .number10{
    --rotation: 3deg;
    transform-origin: -400% -700%;

 }
 .clock .number11{
    --rotation: 3deg;
    transform-origin: -100% -450%;

 }

 .clock .hand
 {
     --rotation: 0;
     position: absolute;
     bottom: 50%;
     left: 50%;  
     height: 45%;
     width: 3px;
     background-color: rgb(5, 0, 0);
     border: 1px solid white ;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     transform-origin: bottom ;
     transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
 }

.clock .hand.second
{
   height: 45%;
   width: 3px;
    background-color: red;

}
.clock .hand.minute
{
    height: 40%;
    width: 7px;
    background-color: black;
    
}
.clock .hand.hour
{
    height: 35%;
    width: 10px;
    background-color: black;
}


.clock::after{
    content: ' ';
    background-color: black;
    width: 15px;
    height: 15px;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}


